<!DOCTYPE html>
<html lang="en" class="h-100"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit user</title>
</head>

<body>
<div>
  <table>
    <tr>
      <th>Пользователь</th>
      <th th:text="${user.email}">email</th>
      <th>с уровнем доступа:</th>
      <th th:text="${user.getRolesToString()}">Role</th>
    </tr>
  </table>
</div>
<br>

<div>
  <table>
    <tr>
      <th><a href="/admin">Admin</a></th>
      <th><a th:href="@{/admin/{id}(id=${user.id})}">User</a></th>
    </tr>
  </table>
</div>

<div>
  <h3>Edit user</h3>
</div>

<div>
  <form th:method="PATCH" th:action="@{edit}" th:object="${user}">
    <label for="name">Имя</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Enter name">
    <div style="color:gray" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error text</div><br>

    <label for="lastName">Фамилия</label>
    <input type="text" th:field="*{lastName}" id="lastName" placeholder="Enter lastname">
    <div style="color:gray" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Error text</div><br>

    <label for="age">Возраст</label>
    <input min="0" max="127" type="number" th:field="*{age}" id="age" placeholder="Enter age">
    <div style="color:gray" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Error text</div><br>


    <label for="car">Машина</label>
    <input type="text" th:field="*{car}" id="car" placeholder="Enter car">
    <div style="color:gray" th:if="${#fields.hasErrors('car')}" th:errors="*{car}">Error text</div><br>

    <label for="email">Почта</label>
    <input type="text" th:field="*{email}" id="email" placeholder="Enter email">
    <div style="color:gray" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error text</div><br>

    <label for="password">Пароль</label>
    <input type="text" th:field="*{password}" id="password" placeholder="Enter password" th:text="${password}">
    <div style="color:gray" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error text</div>

    <label for="role">Role</label>
    <select size="2" id="role" multiple name="role" required="required">
      <option selected="selected" value="1">USER</option>
      <option value="2">ADMIN</option>
    </select>
    <br><br>

    <input type="submit" value="Изменить">
  </form>
  <form th:action="@{/admin}" method="get">
    <button type="submit">На главную</button>
  </form>
</div>
<br>
<nav>
  <form th:action="@{/logout}" method="post">
    <button type="submit">Выйти из учетной записи</button>
  </form>
</nav>
</body>
</html>